In [103]:

import pandas as pd
from thefuzz import fuzz
import numpy as np
import time

start_time = time.perf_counter()
# Load the data
df = pd.read_csv("data.csv")
df = df.drop(columns=['id'])

# Preprocessing - normalize string case and fill missing value.
for col in df.columns:
    if df[col].dtype == 'object':
        df[col] = df[col].str.lower().fillna('')  


#  calculate the similarity between two rows
def row_similarity(row1, row2):
    similarity_sum = 0
    for col in df.columns:
        similarity_sum += fuzz.ratio(str(row1[col]), str(row2[col]))
    return similarity_sum / len(df.columns)

# Grouping based on row similarity
threshold = 75  # Similarity threshold 
group_ids = np.full(len(df), -1)
current_group = 0

for i in range(len(df)):
    if group_ids[i] == -1:
        group_ids[i] = current_group
        for j in range(i + 1, len(df)):
            if group_ids[j] == -1 and row_similarity(df.loc[i], df.loc[j]) >= threshold:
                group_ids[j] = current_group
        current_group += 1

df['fuzz_group'] = group_ids

end_time = time.perf_counter()   

elapsed = end_time - start_time
print(f"Elapsed time for Levenshtein distance : {elapsed:.4f} seconds")



df = df.sort_values(by='fuzz_group')
df.head(40)

Elapsed time for Levenshtein distance : 32.5106 seconds

,first_name,surname,dob,city,email,fuzz_group
0,,brown,2005-07-15,london,sarahbron@mckinney.com,0
843,emily,brwn,2005-07-15,london,sarahbrown@mckinney.com,0
611,emily,brown,2005-07-15,lndon,sarahbrown@mckinney.com,0
609,,brown,2005-07-15,london,sbraharown@ckinney.com,0
997,,brown,2005-07-15,london,sarahbroon@mckinneycwm,0
260,,brown,2005-10-06,london,sarahbrown@mckinney.com,0
695,isablle,brown,1979-01-22,ttke-on-srent,josephwatson@smith.com,1
657,isabelle,brown,1979-01-22,stoke-on-trent,josephwatson@smith.com,1
342,isabelle,brown,1979-01-22,stoke-on-trent,josephwatson@smith.com,1
319,isabelle,born,1979-01-22,stte-on-trenk,josephwatson@smith.com,1
105,ieabell,brown,1979-01-22,stoke-on-trent,josephwatson@smith.com,1
34,isabelle,brown,1979-01-22,stoke-on-trent,josephwatson@smith.com,1
385,isabelle,orbw,1979-01-22,stoke-on-trent,joshphwatson@smite.co,1
1,ilabsle,brown,1979-01-22,stoke-on-trent,josephwatson@smith.com,1
4,isabelle,brown,1979-01-22,stoke-on-trent,josephwatson@smith.com,1
2,iilwam,,2000-06-27,,taylor70@fisher.nfo,2
128,carter,alfie,1997-06-06,london,jennifermarshall@browning.com,3
3,carter,alfie,1997-03-13,london,jennifermarshall@browning.com,3
967,carter,alfie,1997-03-13,nonol,jennifermarshal@brownilg.com,3
437,watson,noah,2008-03-23,bolton,matthbw78eallard-mcdonald.net,4
5,watson,noah,2008-06-15,bolton,matthew78@ballard-mcdonald.net,4
109,watson,noah,2008-01-21,bolno,matthea78@bwllar-mcdonald.net,4
184,hery,owen,2016-05-16,kingston-upon-hull,kicolasbutler@jacnson.net,5
6,,owen,2016-05-16,kingston-upon-hull,nicholasbutler@jackson.net,5
555,henry,owen,2016-05-16,kingston-upon-hull,nicholasbutlesjack@on.net,5
522,henry,owen,2016-03-06,kingston-upon-hull,nicholasbutler@jackson.net,5
518,henry,owen,2016-05-16,kingston-upon-hull,nicobaslutler@jackson.net,5
7,evie,collins,1988-12-10,,travis53@jensen.com,6
223,noah,gibson,1987-08-16,ldnon,avazquez@banks.com,7
261,noa,gibson,1987-08-21,london,avazquez@banks.com,7
771,noah,gibson,1987-05-18,london,avazquez@banks.com,7
8,noah,gibson,1987-08-21,london,avazquez@banks.com,7
773,noah,gibson,1987-07-20,london,avazquec@bnks.zom,7
716,noah,gibson,1987-08-21,london,avazquez@banks.com,7
288,noah,gibson,1987-08-21,london,avazquez@banks.com,7
9,taylor,harrison,2014-03-20,london,paul44@bentley.com,8
10,jones,elliot,1983-11-16,leeds,phumphrey@han-onsjohnsn.net,9
11,,james,1970-04-05,sunderland,barbaraolson@smith.com,10
12,l yu,stone,2012-02-15,middlesbrough,ppruitt@kirby.org,11
13,morris,florence,1993-04-28,southapmtn,paul49@allen.biz,12

In [122]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.compose import ColumnTransformer
from sklearn.neighbors import NearestNeighbors
import time

start_time = time.perf_counter()

# Load the data
df = pd.read_csv("data.csv")

# normalize strings to lowercase
for col in df.columns:
    if df[col].dtype == 'object':
        df[col] = df[col].str.lower()

# Preprocessing: add placeholder for mising value. Id is not needed for string matching
df = df.fillna("missing")
df = df.drop(columns=['id'])


# Identify column types
text_cols = [col for col in df.columns if df[col].dtype == 'object']

# Build column transformer
transformers = []
if text_cols:
    transformers.append(('text', TfidfVectorizer(), text_cols))


# For text columns, TfidfVectorizer expects 1D input, so process each separately and concatenate
from scipy.sparse import hstack

X_parts = []
for col in text_cols:
    vect = TfidfVectorizer()
    X_parts.append(vect.fit_transform(df[col]))


X = hstack(X_parts)
# Now use NearestNeighbors
nbrs = NearestNeighbors(n_neighbors=15, metric='cosine').fit(X)
distances, indices = nbrs.kneighbors(X)

# Grouping based on nearest neighbors
group_ids = np.full(X.shape[0], -1)
current_group = 0
for i in range(X.shape[0]):
    if group_ids[i] == -1:
        group_ids[i] = current_group
        for neighbor in indices[i]:
            group_ids[neighbor] = current_group
        current_group += 1

df['KNN_group'] = group_ids

end_time = time.perf_counter()   

elapsed = end_time - start_time
print(f"Elapsed time for KNN  : {elapsed:.4f} seconds")

df = df.sort_values(by='KNN_group')
df.head(40)

Elapsed time for KNN  : 0.0939 seconds

,first_name,surname,dob,city,email,KNN_group
319,isabelle,born,1979-01-22,stte-on-trenk,josephwatson@smith.com,1
385,isabelle,orbw,1979-01-22,stoke-on-trent,joshphwatson@smite.co,1
2,iilwam,missing,2000-06-27,missing,taylor70@fisher.nfo,2
3,carter,alfie,1997-03-13,london,jennifermarshall@browning.com,3
967,carter,alfie,1997-03-13,nonol,jennifermarshal@brownilg.com,3
128,carter,alfie,1997-06-06,london,jennifermarshall@browning.com,3
867,alfi,carter,1997-03-13,london,jennifermarshall@browning.com,3
437,watson,noah,2008-03-23,bolton,matthbw78eallard-mcdonald.net,4
109,watson,noah,2008-01-21,bolno,matthea78@bwllar-mcdonald.net,4
596,onah,watson,2008-03-23,bolton,matthew78@ballard-mcdonald.net,4
650,noah,watson,2008-03-23,bolton,matthew78@ballard-mcdonald.net,4
5,watson,noah,2008-06-15,bolton,matthew78@ballard-mcdonald.net,4
722,owen,henry,2016-05-16,kingston-upon-hull,nicholasbutler@jackson.net,5
184,hery,owen,2016-05-16,kingston-upon-hull,kicolasbutler@jacnson.net,5
7,evie,collins,1988-12-10,missing,travis53@jensen.com,6
471,collins,evie,1988-10-25,londn,travis53@jensen.com,6
156,evie,collns,1988-10-25,lonod,travis53@enmen.cos,6
8,noah,gibson,1987-08-21,london,avazquez@banks.com,7
261,noa,gibson,1987-08-21,london,avazquez@banks.com,7
267,gibson,noah,1987-08-21,london,avazquez@banks.com,7
142,gibson,noah,1987-06-12,london,avazquez@banks.com,7
716,noah,gibson,1987-08-21,london,avazquez@banks.com,7
223,noah,gibson,1987-08-16,ldnon,avazquez@banks.com,7
953,illeo,jones,1983-11-16,leeds,phumphrey@hanson-johnson.net,9
424,oliet,missing,1983-11-16,missing,phumphrey@hanson-johnson.net,9
10,jones,elliot,1983-11-16,leeds,phumphrey@han-onsjohnsn.net,9
717,elijah,james,1970-03-24,sunderland,barbaraolson@smith.com,10
577,lucy,stone,2011-11-26,middbeslough,ppruitt@kirby.org,11
12,l yu,stone,2012-02-15,middlesbrough,ppruitt@kirby.org,11
789,stone,lucy,2011-11-26,middlesbrough,ppruitt@kirby.org,11
674,freya,hughes,2018-04-28,london,allison88@urley-norrrs.oig,12
13,morris,florence,1993-04-28,southapmtn,paul49@allen.biz,12
510,gabriel,potter,1977-12-21,leed,missing,13
170,gabriel,potter,1977-12-21,leeds,rachelschmitt@george-walker.com,13
16,gabriel,missing,1977-12-21,leds,rachelschtitm@geore-walker.com,13
731,gabriel,potter,1977-12-21,leeds,rache@schmittlgeorge-walker.co,13
448,gabriel,potter,1977-12-21,leeds,rachelschmitt@george-walker.com,13
848,lucy,stone,2011-11-26,middlesbrough,missing,16
464,stone,lucy,2011-11-26,middlesbrough,missing,16
383,maya,jones,2010-10-20,sudderlnn,erin01@york.com,17